# Ignored files and directories
# Byte-compiled / optimized / DLL files
# Python cache files

__pycache__/
*.pyc
*.ipynb_checkpoints
.env
.vscode/
*.log
data/
*.zip
*.csv
*.docx
*.html
*.nc4
*.gz
0ld/